body {
      margin: 0;
      padding: 0;
      background-color: lightgray;
}

/* ----------------------------------------Navigation Bar.*/

.topnav {
  overflow: hidden;
  background-color: #333;
  height: 74px;
}

.topnav a {
  margin-top: 10px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0d9782;
  border-radius: 25px;
  color: black;
  /* transition: all 1s ease-in-out; */
  
}


/* ---------------------------------------------------Doctors.*/

.phase1 {
  margin-top: 10px;
    width: 100%;
    /*border: 1px solid black;*/
    background-image: url("imgs/back11.jpg");
    background-size: cover;
}
#right {
  margin-left: 20%;
}
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin-top: 400px;
    margin-bottom: 200px;
}
.button:hover {
  background-color: #1fb9ec;
}
.doctors {
  margin-top: 10px;
  background-color: #f8f8f8;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.docheading {
  font-size: 32px;
  padding-top: 50px;
}
.doc_menu {
  width: 70%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #008CBA;
}
.doc_link {
  padding: 10px;
  text-decoration: none;
  color: #008CBA;
  margin-left: -12px;
}
.doc_link:hover {
  color: #f7b632;
}
.about {
  width:100%;
  margin-top: 5px;
  color: white;
  background-color: black;
}
.info {
  padding: 30px;
}





  /*///////////////////////////////////////*/
